<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 | 가구</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/admin.css">
    <style>
        .admin-summary{
            margin-bottom: 40px;
        }

        .admin-summary__header{

        }


        .admin-summary__body{

        }

        .admin-summary-table{
            width: 95%;
            text-align: center;
            margin: auto;
            border-collapse: collapse;
            border-top: 3px solid #403429;
            border-bottom: 3px solid #403429;
        }

        .admin-summary-table tr{
            border-bottom: 2px solid #40342969;
            border-left: 2px solid #403429;
            border-right: 2px solid #403429;
            height: 50px;
        }

        .admin-summary-table th{
            background: #eeded5;
            width: 50px;
        }

        .admin-summary-table td{
            font-size: larger;
            font-family: math;
        }

        .admin-summary-table td:hover{
            background: #efefef;
        }

    </style>
</head>
<body>
<!--admin 공통 부분-->
<div id="layout-container">
    <header id="admin-header"></header>
    <div id="admin-main-container">
        <nav id="admin-sideMenu">
            <div class="sideMenu__block-container">
                <ul class="sideMenu__items">
                    <li class="sideMenu__item">
                        <div class="sideMenu-container">
                            <div><img src="./img/setting.png"></div>
                            <div><a href="">홈으로</a></div>
                        </div>
                       </li>
                    <li class="sideMenu__item">
                        <div class="sideMenu-container">
                            <div><img src="./img/delivery.png"></div>
                            <div><a href="">주문 관리</a></div>
                        </div>
                        <div class="sideMenu-sub-container">
                            <ul class="sideMenu__subItems">
                                <li class="sideMenu__subItem"><a href="">주문 목록</a></li>
                                <li class="sideMenu__subItem"><a href="">교환 관리</a></li>
                                <li class="sideMenu__subItem"><a href="">환불 관리</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="sideMenu__item">
                        <div class="sideMenu-container">
                            <div><img src="./img/furniture.png"></div>
                            <div><a href="">상품 관리</a></div>
                        </div>
                        <div class="sideMenu-sub-container">
                            <ul class="sideMenu__subItems">
                                <li class="sideMenu__subItem"><a href="">상품 목록</a></li>
                                <li class="sideMenu__subItem"><a href="">상품 등록</a></li>
                                <li class="sideMenu__subItem"><a href="">쿠폰 등록</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="sideMenu__item">
                        <div class="sideMenu-container">
                            <div><img src="./img/user.png"></div>
                            <div><a href="">고객 관리</a></div>
                        </div>
                        <div class="sideMenu-sub-container">
                            <ul class="sideMenu__subItems">
                                <li class="sideMenu__subItem"><a href="">회원 목록</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="sideMenu__item">
                        <div class="sideMenu-container">
                            <div><img src="./img/support.png"></div>
                            <div><a href="">고객 응대</a></div>
                        </div>
                        <div class="sideMenu-sub-container">
                            <ul class="sideMenu__subItems">
                                <li class="sideMenu__subItem"><a href="">상품 문의 목록</a></li>
                                <li class="sideMenu__subItem"><a href="">1:1 문의 목록</a></li>
                                <li class="sideMenu__subItem"><a href="">자주 묻는 질문 관리</a></li>
                                <li class="sideMenu__subItem"><a href="">리뷰 목록</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="sideMenu__item">
                        <div class="sideMenu-container">
                            <div><img src="./img/browser.png"></div>
                            <div><a href="">사이트 관리</a></div>
                        </div>
                        <div class="sideMenu-sub-container">
                            <ul class="sideMenu__subItems">
                                <li class="sideMenu__subItem"><a href="">로그 조회</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
<!--admin 공통 부분 끝-->
            <div class="admin-summary">
                <div class="admin-summary__header">
                    <h2>주문 처리 현황</h2>
                </div>
                    <div class="admin-summary__body">
                        <table class="admin-summary-table">
                            <thead>
                                <tr>
                                    <th scope="col">총 주문 건수</th>
                                    <th scope="col">결제 완료</th>
                                    <th scope="col">출고 준비</th>
                                    <th scope="col">출고 완료</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2건</td>
                                    <td>0건</td>
                                    <td>1건</td>
                                    <td>1건</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th scope="col">반품 대기</th>
                                    <th scope="col">반품 처리중</th>
                                    <th scope="col">반품 완료</th>
                                    <th scope="col">반송 완료</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0건</td>
                                    <td>0건</td>
                                    <td>0건</td>
                                    <td>0건</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <div class="admin-summary">
                <div class="admin-summary__header">
                    <h2>교환/환불 처리 현황</h2>
                </div>
                <div class="admin-summary__table">
                    <div class="admin-summary__body">
                        <table class="admin-summary-table">
                            <thead>
                            <tr>
                                <th scope="col">교환 접수 대기</th>
                                <th scope="col">교환 진행중</th>
                                <th scope="col">교환 완료</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0건</td>
                                <td>0건</td>
                                <td>0건</td>
                            </tr>
                            </tbody>
                            <thead>
                            <tr>
                                <th scope="col">환불 접수 대기</th>
                                <th scope="col">환불 진횅중</th>
                                <th scope="col">환불 완료</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0건</td>
                                <td>0건</td>
                                <td>0건</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="admin-summary">
                <div class="admin-summary__header">
                    <h2>CS 응대 현황</h2>
                </div>
                <div class="admin-summary__table">
                    <div class="admin-summary__body">
                        <table class="admin-summary-table">
                            <thead>
                            <tr>
                                <th scope="col">총 상품 문의 건수</th>
                                <th scope="col">답변 미등록 상품 문의</th>
                                <th scope="col">답변 완료 상품 문의</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0건</td>
                                <td>0건</td>
                                <td>0건</td>
                            </tr>
                            </tbody>
                            <thead>
                            <tr>
                                <th scope="col">총 1:1 문의 건수</th>
                                <th scope="col">답변 미등록 1:1 문의</th>
                                <th scope="col">답변 완료 1:1 문의</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0건</td>
                                <td>0건</td>
                                <td>0건</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <footer id="admin-footer"></footer>
</div>
</body>
</html>