<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 | 가구</title>
    <link rel="stylesheet" href="admin.css">
    <style>

    </style>
</head>
<body>
<!--admin 공통 부분-->
<div id="layout-container">
    <header id="admin-header"></header>
    <div id="admin-main-container">
        <nav id="admin-sideMenu">
            <div class="sideMenu__block-container">
                <ul class="sideMenu__items">
                    <li class="sideMenu__item"><a href=""><img src="">홈으로</a></li>
                    <li class="sideMenu__item"><a href=""><img src="">주문 관리</a>
                        <ul class="sideMenu__subItems">
                            <li class="sideMenu__subItem"><a href="">주문 목록</a></li>
                            <li class="sideMenu__subItem"><a href="">교환 관리</a></li>
                            <li class="sideMenu__subItem"><a href="">환불 관리</a></li>
                        </ul>
                    </li>
                    <li class="sideMenu__item"><a href=""><img src="">상품 관리</a>
                        <ul class="sideMenu__subItems">
                            <li class="sideMenu__subItem"><a href="">상품 목록</a></li>
                            <li class="sideMenu__subItem"><a href="">상품 등록</a></li>
                            <li class="sideMenu__subItem"><a href="">쿠폰 등록</a></li>
                        </ul>
                    </li>
                    <li class="sideMenu__item"><a href=""><img src="">고객 관리</a>
                        <ul class="sideMenu__subItems">
                            <li class="sideMenu__subItem"><a href="">회원 목록</a></li>
                        </ul>
                    </li>
                    <li class="sideMenu__item"><a href=""><img src="">고객 응대</a>
                        <ul class="sideMenu__subItems">
                            <li class="sideMenu__subItem"><a href="">상품 문의 목록</a></li>
                            <li class="sideMenu__subItem"><a href="">1:1 문의 목록</a></li>
                            <li class="sideMenu__subItem"><a href="">자주 묻는 질문 관리</a></li>
                            <li class="sideMenu__subItem"><a href="">리뷰 목록</a></li>
                        </ul>
                    </li>
                    <li class="sideMenu__item"><a href=""><img src="">사이트 관리</a>
                        <ul class="sideMenu__subItems">
                            <li class="sideMenu__subItem"><a href="">로그 조회</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
<!--admin 공통 부분 끝-->
            <div class="admin-summary">
                <div class="admin-summary__header">
                    <h2>주문 처리 현황</h2>
                </div>
                <div class="admin-summary__table">
                    <div class="admin-summary__body">
                        <div class="admin-summary__left-block">
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                        </div>
                        <div class="admin-summary__right-block">
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="admin-summary">
                <div class="admin-summary__header">
                    <h2>교환/환불 처리 현황</h2>
                </div>
                <div class="admin-summary__table">
                    <div class="admin-summary__body">
                        <div class="admin-summary__left-block">
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                        </div>
                        <div class="admin-summary__right-block">
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="admin-summary">
                <div class="admin-summary__header">
                    <h2>CS 응대 현황</h2>
                </div>
                <div class="admin-summary__table">
                    <div class="admin-summary__body">
                        <div class="admin-summary__left-block">
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                        </div>
                        <div class="admin-summary__right-block">
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                            <div class="admin-summary-state__section"></div>
                            <div class="admin-summary-state__value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer id="footer-space"></footer>
</div>
</body>
</html>