<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내 정보 | 가구</title>
    <link rel="stylesheet" href="mypage.css">
    <style>
        .myInfo-container{

        }
        .myInfo-body{

        }
        .myInfo-content__section{

        }

        .myInfo-content__value{

        }

        .myInfo-content__change{

        }
        .change-phoneNo{

        }
        .change-email-address{

        }
        .change-address{

        }
    </style>
</head>
<body>
<!--myPage 공통 부분-->
    <div id="layout-container">
        <header id="header-space"></header>
        <div id="myPage-main-container">
            <nav id="myPage-sideMenu">
                <div class="sideMenu__block-container">
                    <div class="sideMenu__block">
                        <h4>나의 쇼핑 활동</h4>
                        <ul class="sideMenu__items">
                            <li class="sideMenu__item"><a href="">구매 내역 조회</a></li>
                            <li class="sideMenu__item"><a href="">최근 본 상품</a></li>
                            <li class="sideMenu__item"><a href="">쿠폰 / 적립금 조회</a></li>
                            <li class="sideMenu__item"><a href="">상품 문의</a></li>
                            <li class="sideMenu__item"><a href="">1:1 문의</a></li>
                        </ul>
                    </div>
                    <div class="sideMenu-block">
                        <h4>회원 정보</h4>
                        <ul class="sideMenu__items">
                            <li class="sideMenu__item sideMenu__item--active"><a href="">회원 정보 조회</a></li>
                            <li class="sideMenu__item"><a href="">주소록</a></li>
                            <li class="sideMenu__item"><a href="">비밀번호 변경</a></li>
                            <li class="sideMenu__item"><a href="">회원 탈퇴</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <main>
                <div class="myPage-title">
                    <h1>내 정보 조회</h1>
                </div>
<!--myPage 공통 부분 끝-->
                <div class="myInfo-container">
                    <div class="myInfo-body">
                        <!--아이디와 이름은 변경 불가-->
                        <div class="unchangeable myInfo-content__section">
                            아이디
                        </div>
                        <div class="unchangeable myInfo-content__value"></div>
                        <div class="unchangeable myInfo-content__section">
                            이름
                        </div>
                        <div class="unchangeable myInfo-content__value"></div>
                        <div class="phoneNo myInfo-content__section">
                            휴대전화
                        </div>
                        <div class="phoneNo myInfo-content__value"></div>
                        <div class="phoneNo myInfo-content__change">
                            <button>변경</button>
                        </div>
                        <!--변경 버튼 누르면 .myInfo-content__value, .myInfo-content__change 대신 출력됨-->
                        <div class="change-phoneNo-content-container">
                            <div class="change-phoneNo-content">
                                변경할 휴대폰 번호를 입력하세요.<br>
                                <input type="tel">
                            </div>
                            <div class="change-buttons-container">
                                <button>변경하기</button>
                                <button>취소하기</button>
                            </div>
                        </div>
                        <div class="email-address myInfo-content__section">
                            이메일 주소
                        </div>
                        <div class="email-address myInfo-content__value"></div>
                        <div class="email-address myInfo-content__change">
                            <button>변경</button>
                        </div>
                        <!--변경 버튼 누르면 .myInfo-content__value, .myInfo-content__change 대신 출력됨-->
                        <div class="change-email-content-container">
                            <div class="change-email-content">
                                변경할 이메일 주소를 입력하세요.<br>
                                <input type="email">
                            </div>
                            <div class="change-buttons-container">
                                <button>변경하기</button>
                                <button>취소하기</button>
                            </div>
                        </div>
                        <div class="address myInfo-content__section"></div>
                        <div class="address myInfo-content__value"></div>
                        <div class="address myInfo-content__change">
                            <button>변경</button>
                        </div>
                        <!--변경 버튼 누르면 .myInfo-content__value, .myInfo-content__change 대신 출력됨-->
                        <div class="change-address-content-container">
                            <div class="change-address-content">
                                변경할 주소를 입력하세요.<br>
                                <!--주소 찾기 API-->
                                <input type="text">
                                <input type="text">
                                <input type="text">
                            </div>
                            <div class="change-buttons-container">
                                <button>변경하기</button>
                                <button>취소하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="footer-space"></footer>
    </div>
</body>
</html>