<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경 | 가구</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/mypage.css">
    <style>

    </style>
</head>
<body>
<!--myPage 공통 부분-->
<div id="layout-container">
    <header id="header-space"></header>
    <div id="myPage-main-container">
        <nav id="myPage-sideMenu">
            <div class="sideMenu__block-container">
                <div class="sideMenu__block">
                    <h3>나의 쇼핑 활동</h3>
                    <ul class="sideMenu__items">
                        <li class="sideMenu__item"><a href="">구매 내역 조회</a></li>
                        <li class="sideMenu__item"><a href="">최근 본 상품</a></li>
                        <li class="sideMenu__item"><a href="">쿠폰 / 적립금 조회</a></li>
                        <li class="sideMenu__item"><a href="">상품 문의</a></li>
                        <li class="sideMenu__item"><a href="">1:1 문의</a></li>
                    </ul>
                </div>
                <div class="sideMenu__block">
                    <h3>회원 정보</h3>
                    <ul class="sideMenu__items">
                        <li class="sideMenu__item"><a href="">회원 정보 조회</a></li>
                        <li class="sideMenu__item"><a href="">주소록</a></li>
                        <li class="sideMenu__item sideMenu__item--active"><a href="">비밀번호 변경</a></li>
                        <li class="sideMenu__item"><a href="">회원 탈퇴</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            <div class="myPage-title">
                <h1>비밀번호 변경</h1>
            </div>
<!--myPage 공통 부분 끝-->
            <div class="change-password-container">
                <div class="change-password-header">
                    비밀번호를 변경하려면 다음 정보를 입력하세요.
                </div>
                <div class="change-password-body">
                    <!--현재 비밀번호, 변경할 비밀번호*2-->
                    <div class="myInfo-content__short-container">
                    <div class="change-password__section">
                        현재 비밀번호
                    </div>
                    <div class="change-password__value">
                        <input type="password" class="password">
                    </div>
                    </div>
                    <div class="myInfo-content__short-container">
                    <div class="change-password__section">
                        변경할 비밀번호
                    </div>
                    <div class="change-password__value">
                        <input type="password" class="password">
                    </div>
                    </div>
                    <div class="myInfo-content__short-container">
                    <div class="change-password__section">
                        비밀번호 확인
                    </div>
                    <div class="change-password__value">
                        <input type="password" class="password">
                    </div>
                    </div>
                </div>
                <div class="change-password-footer">
                    <button>비밀번호 변경하기</button>
                </div>
            </div>
        </main>
    </div>
    <footer id="footer-space"></footer>
</div>
</body>
</html>