#layout-container{
    max-width: 1200px;
}

#admin-header{
    height: 60px;
}

#admin-footer{

}

#admin-main-container{
    display: flex;
}

#admin-sideMenu{
    background: #eeded5;
    width: 220px;
    height: 100%;
    position: fixed;
}


.sideMenu__block-container{
    margin-top: 50%;
}

.sideMenu__items{
    margin-left: 0;
    padding-inline-start: 0;
    /* text-align: right; */
}

.sideMenu__item{
    list-style: none;
    font-size: 13pt;
    /* margin-bottom: 25px; */
    padding: 5px 0;
    /* line-height: 60px; */
}

.sideMenu__item:hover{
    background: #FF8A00;
    color: white;
}

.sideMenu__item a{
    margin-right: 25px;
}

.sideMenu__item--active{
    background: #FF8A00;
    font-weight: bold;
    color: white;
    padding-bottom: 0px;
}

.sideMenu__item img{
    vertical-align: middle;
}

.sideMenu-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.sideMenu-container div:first-child{
    width: 50px;
    padding-left: 20px;
}

.sideMenu-container div:nth-child(2){
    /* display: inline; */
    width: 130px;
    align-self: center;
}

.sideMenu__subItems{
    list-style: none;
    display: none;
    /* margin-top: 10px; */
    padding: 10px;
    font-weight: 400;
    background: #ff8a00;
    color: #403429;
    font-size: medium;
}

.sideMenu__subItems--active{
    /* margin-top: 25px; */
    display: block;
}

.sideMenu__items a:hover:after{
    opacity: 0;
}

.sideMenu-sub-container{

}

.sideMenu__subItem{
    /* border-bottom: 1px solid #ffffff; */
    position: relative;
    text-align: end;
}

.sideMenu__subItem--active{
    color: white;
}

.sideMenu__subItem a:hover{
    color: white;
}

.sideMenu__subItem::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: transparent;
    /* border: 2px solid; */
    border-bottom: 2px solid #403429;
    border-right: 2px solid #403429;
    transform: rotate(-45deg);
    top: 9px;
    left: 80px;
    -moz-transform: rotate(45deg);
}


main {
    width: 100%;
    margin-left: 245px;
}

.admin-title{

}

#footer-space{

}


label{
    position: relative;
}

label p{
    display: inline;
    margin: 0 25px;
    /* width: 328px; */
}


input[type="date"] {
    padding: 7px 10px;
    font-size: 11pt;
    width: 175px;
}

.period-search-box{
    margin-bottom: 10px;
}

.period-search-box label{
    margin-right: 10px;
}

.period-search-box button{

}

.selects-container{

}

.keyword-search-box{
    margin-bottom: 10px;
}

.keyword-search-box label{

}

.keyword-search__bar{
    display: inline;
    background: #eeded5;
    padding: 8px 15px;
    border-radius: 8px;
    /* width: 534px; */
    margin-right: 10px;
}

select{
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url('../images/down.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-position-x: 94%;
    width: 100px;
    color: #403429;
    font-family: 'Noto Serif KR';
    font-weight: 500;
    font-size: 11pt;
}

#keyword-search__word{
    background: transparent;
    border: none;
    width: 390px;
    color: #403429;
    height: 33px;
    font-size: 11pt;
    font-family: 'Noto Serif KR';
}

.keyword-search__bar select{
    background-color: #eeded5;
}

.search-select{
    background-color: #eeded5;
    width: 115px;
    padding: 7px 14px;
    border-radius: 8px;
    background-position-x: 94%;
    background-position-y: center;
    margin-right: 10px;
}

.search-button{
    height: 37px;
    width: 100px;
    border-radius: 8px;
    font-size: 11pt;
}

.sort-box{
    margin-bottom: 10px;
}

.sort-box select{
    background-color: #e5e5e5;
    width: 100px;
    padding: 7px 14px;
    border-radius: 8px;
    background-position-x: 94%;
    background-position-y: center;
    margin-right: 10px;
}

#sort__by-column{
    width: 130px;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #403429;
    /* height: 82px; */
}

tr{
    height: 40px;
}

th{
    background: #eeded5;
}

td{
    text-align: center;
}

td input[type="checkbox"] {
	
}

th select{
    font-size: inherit;
    font-weight: 700;
    width: 90px;
    background-color: #eeded5;
}

th:first-child{
    width: 31px;
}

.paging{
    text-align: center;
    margin-top: 15px;
}

.paging a:after{
    opacity: 0;
}

.page-value {
    width: 15px;
    height: 15px;
    /*
    font-size: large;
    display: grid;
    place-items: center;
    margin: 0 10px;
    */
    margin-left: 20px;
}

.page-value:hover {
    /*
    background-color: #6bf2e5;
    border-radius: 55px;
     */
    color: #FF8A00;
}


.amount__value{
    font-family: math;
    margin-right: 5px;
}


.checkMark {
    top: -6px;
    left: -9px;
    height: 12px;
    width: 12px;
    padding: 2px;
}

label .checkMark:after {
    left: 5px;
    top: 0;
    width: 4px;
    height: 10px;
    border: solid #403429;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}