#payment-main-container{
    display: flex;
}

aside{
    width: 30%;
    padding: 20px;
}

main{
    width: 70%;
    padding: 10px;
}

.payment-sum-container{
    /* background: #eeded5; */
    border: 4px solid #eeded5;
    margin-top: 135px;
    padding: 20px;
}

.payment-sum__section{
    /* font-weight: 600; */
}

.payment-sum__value{
    font-weight: 600;
}

.total-amount{
    /* margin: 40px 0 0 0; */
    font-weight: 800;
    font-size: larger;
}

.amount__value{
    font-family: math;
    margin-right: 5px;
}

.amount__sign {
    margin-right: 15px;
}

.payment-sum__short-container{
    display: flex;
    font-size: 13pt;
    justify-content: space-between;
    margin-bottom: 5px;
}

.payment-total-amount-container{
    background: #eeded5;
    /* border-top: 1px solid #403429; */
    padding: 15px 25px;
}

.payment-button-container{
    margin: 13px 0;
}

.payment-button-container button{
    width: 100%;
    border-radius: 10px;
    height: 70px;
    font-size: 16pt;
    font-weight: 600;
}

label{
    position: relative;
}

label p{
    display: inline;
    font-size: 12pt;
    /* margin-bottom: -12px; */
}

.payment-product-content{
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 0px;
    /* font-size: small; */
}

.payment-product-left-block, .payment-product-right-block{
    margin-left: 10px;
}


.payment-product-left-block{
    margin-left: 5px;
    height: 150px;
}

.product-content__productThumbnail{
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.product-content__productThumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.payment-product-right-block{
    width: 94%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-content__name-container{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    align-items: center;
}

.product-content__name{
    font-size: 14pt;
    font-weight: 600;
}

.product-content__cancel{
    /* width: 20px; */
    margin-right: 10px;
    /* text-align: center; */
    align-self: center;
    display: flex;
    align-items: center;
}

.product-content__cancel img{
    width: 20px;
    height: 20px;
}

.product-content__option-container{
    padding: 9px 15px;
    /* background: #eeded5; */
    border: 3px solid #eeded5;
    /* border-left: 6px solid #eeded5; */
    /* border-bottom: 2px solid #eeded5; */
    /* border-top: 5px double #eeded5; */
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option-content__name-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-content__name{font-size: 13pt;/* margin-bottom: 15px; */font-weight: 500;}



.payment-product-content + .payment-product-content{
    border-top: 1px solid #e5e5e5;
}
