@charset "UTF-8";
@import url('https://fonts.googleapis.com./css2?family=Noto+Serif+KR:wght@400;500;600;700;900&display=swap');


html {
    font-family: 'Noto Serif KR', serif;
    color: #403429;
}

body {
    margin: 0;
}

html, body{
    height: 100%;
    overflow: auto;
}

#layout-container{
    max-width: 1200px;
    margin: auto;
}

::-webkit-scrollbar{
    width: 16px;
}
::-webkit-scrollbar-track{
    background-color: #EEDED5;
}
::-webkit-scrollbar-thumb{
    background-color: #403429;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{

}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{
    width:16px;
    height:16px;
    background: #EEDED5;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: currentcolor;
}

a{
    position: relative;
}

a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    /* margin: 5px 0 0; */
    opacity: 0;
    background-color: #FF8A00;
}

a:hover:after{
    opacity: 1;
}

#header-space{
    height: 120px;
}

#footer-space{

}

button {
    background: #FF8A00;
    font-family: 'Noto Serif KR';
    border: none;
    color: white;
    transition: 0.3s;
}

button:hover{
    background: #E8610C;
}

.small-button {
    /* background: #403429; */
    /* border: 1px solid #403429; */
    /* color: #eeded5; */
    /* font-weight: 600; */
    border-radius: 7px;
}

.small-button:hover{

}

.smaller-button{
    background: transparent;
    border: none;
    color: #403429;
    border-radius: 0px;
    transition: 0.05s;
}

form {
    display: contents;
}


input[type="tel"],
input[type="email"],
input[type="text"]
.password{
    background: #eeded5;
    /* border: 1px solid #403429; */
    border: none;
    /* border-bottom: 1px solid #403429; */
    height: 25px;
    /* margin: 10px 0; */
    font-size: 12pt;
    color: #403429;
    padding: 7px 14px;
    border-radius: 7px;
    font-family: 'Noto Serif KR';
}

input[type="tel"]:focus-visible,
input[type="email"]:focus-visible,
input[type="text"]:focus-visible,
.password:focus-visible{
    background: #eeded5;
    outline: none;
}

/*여기서부터 date input 디자인*/
input[type="date"] {
    background-color: #eeded5;
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: #403429;
    font-family: 'Noto Serif KR';
    font-size: 12pt;
}

input[type="date"]:focus-visible{
    outline: 3px solid #ff8a00;
}

/*여기서부터 체크박스 디자인*/
input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 20px;
    padding: 2px;
    /* background-color: #eeded5; */
    border: 1px solid #403429;
}

label:hover input ~ .checkMark {
    background-color: #ff8a00;
}

input[type="checkbox"]:checked ~ .checkMark {
    background-color: #eeded5;
}

input[type="checkbox"]:checked ~ .checkMark:hover {
    background-color: #ff8a00;
}

.checkMark:after {
    content: "";
    position: absolute;
    display: none;
}

input[type="checkbox"]:checked ~ .checkMark:after {
    display: block;
}

label .checkMark:after {
    left: 8px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #403429;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

/*체크박스 디자인 끝*/